.container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  transition: box-shadow .3s;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem 1rem;
  max-width: 400px;
  min-width: 400px;

  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;

}
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.box a {
  text-decoration: none;

}




