.googleBtn {
  width: 100%;
  height: 42px;
  background-color: #db3236;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  margin-bottom: 5px;
}

.googleIconWrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }


.googleIcon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

.btnText {
    text-align: center;
    padding-left: 17px;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }

.googleBtn:hover {
    box-shadow: 0 0 6px #db3236;
  }

.googleBtn:active {
    background: #db3236;
  }


@import url(https://fonts.googleapis.com/css?family=Roboto:500);